<h1>Active Quest List</h1>

<div ng-repeat="quest in activeQuests">
  <h2>{{quest.name}}</h2>

  <ul>
  
    <li>Description: {{quest.description}}</li>
    <li>Accepted on: {{quest.createdAt}}</li>
    <li>EXP: {{quest.expEarned}}</li>
    
  </ul>
  <a href="#/edit/{{quest.id}}">Edit Quest</a>
  <button ng-click="deleteQuest(quest.id)">Delete Quest</button>
  <button ng-click="completeQuest(quest.id)">Complete Quest</button>

</div>

<h1>Completed Quest List</h1>

<div ng-repeat="quest in completedQuests">
  <h2>{{quest.name}}</h2>

  <ul>
  
    <li>Description: {{quest.description}}</li>
    <li>Accepted on: {{quest.createdAt}}</li>
    <li>EXP: {{quest.expEarned}}</li>
    
  </ul>
  
  <button ng-click="deleteQuest(quest.id)">Delete Quest</button>

</div>