<div>
  <center><h1>Active Quest List</h1></center>

<div ng-repeat="quest in activeQuests">
  <h2>{{quest.name}}</h2>

  <ul>
  
    <li>Description: {{quest.description}}</li>
    <li>Gold Reward: {{quest.expEarned}}</li>
    
  </ul>
  <button ng-click="editQuest(quest.id)">Edit Quest</button>
  <button ng-click="deleteQuest(quest.id)">Delete Active Quest</button>
  <button ng-click="completeQuest(quest)">Complete Quest</button>

</div>
<!-- {{'#/edit/' + quest.id}}" -->
<center><h1>Completed Quest List</h1></center>

<div ng-repeat="quest in completedQuests">
  <h2>{{quest.name}}</h2>

  <ul>
  
    <li>Description: {{quest.description}}</li>
    <li>Gold Reward: {{quest.expEarned}}</li>
    
  </ul>
  <br>
  <button ng-click="deleteQuest(quest.id)">Remove Completed Quest</button>

</div>
</div>